/* DEFAULTS */
:root{
    --col1: #669ed1;
    --col2: rgb(204, 221, 235);
    --col2l: rgb(228, 237, 245);
    --col3: #5358e6;
    --col4: #4A8FE7; /* United Nations Blue? Is this allowed? */
    --col5: #3454D1;
    --col6: rgb(213, 232, 245);
    --richblack: #1A3A3A;
    --plainwhite: ghostwhite;
}
*
    {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
     box-sizing: border-box;
}
html {
    width: 100%;
}
body {
    width: 98%;
    background-color: var(--plainwhite);
}

/* USER-DEFINED CLASSES */
.clear
    {
    clear:both;
}

.right
    {
    float: right;
}

.left
    {
    float: left;
}
.bordered{
    border: 1px solid var(--richblack);
}
.fadeinfast{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fadeinmed{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.fadeinslow{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.centeredtxt{
    text-align: center;
}
.centeredcontent{
    margin: 0 auto;
}

.grid{
    display: grid;
    justify-content: center;
    align-content: center;
    /* grid-template-columns: repeat(3, .5fr); */
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    padding: calc(2em);
    gap: calc(5em);
}

.item{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 20% 10%;
    margin: auto;
    /* border: 3px solid var(--richblack); */
    /* border-radius: 50px; */
    /* filter: grayscale(80%); */
    transition: 1s;
}

.item:hover{
    /* filter: grayscale(0%); */
}

.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000;
    opacity:0.85;
    display:block;
    z-index:1001;
    margin: auto;
}
.overlay-message{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity:1;
    z-index:1002;
    box-sizing:border-box;
    padding: calc(2%);
    border: 1px solid white;
    margin: auto;
}

.gallery{
    max-height: calc(90vh);
    pointer-events: none;
}

.caption{
    color: white;
    margin: auto;
    text-align: center;
}

.small{
    font-size:80%;
}

/* IDs */

#wrapper{
    max-width: 80vw;
    width: 80vw;
    min-height: 70vh;
    margin: 0 auto 1em auto;
    padding: 2em;
    background-color: var(--col6);
}
#wrapper p{
    text-indent: calc(2em);
    margin: calc(3em) 0;
}
#wrapper img{
    margin: calc(3em);
}

/* PRE-DEFINED CLASSES */
body {
    /* animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

table,thead, tbody, th, tr, td{
    border-collapse: collapse;
    padding: .5em;
    word-wrap: break-word;
    font-size: calc(.5vw + .5vh);

}
th{
    background: var(--col1);
    color: var(--plainwhite);
    font-size: 1.5em;
}
table{
    width: 100%;
    max-width: 100%;
    margin: 0 auto 1em auto;
    background-color: var(--col2l);
    border: 2px solid var(--richblack);
    border-radius:6px;
    -moz-border-radius:6px;
}
td{
    max-width: 10vw;
}
tr:nth-child(even) {background: var(--col2)}



nav, nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
nav{
    padding: .3em;
}

form{
    margin: .5em;
}

/* ANIMATION */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* VIEWPORTS */
@media only screen and (max-width: 600px) {
  table, thead, tbody, th, tr, td{
      font-size: calc(1vw + 1vh);
  }
}
